demo-sftp/src/main/mule/demo-sftp-interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="demo-sftp-interfaceFlow" doc:id="2735a5e5-d457-4143-9a81-069ad56f0949" >
		<http:listener doc:name="Listener" doc:id="b014b6da-5591-4538-9ae8-a0055299abb4" config-ref="HTTP_Listener_config" path="/demo-sftp">
			<http:response statusCode="200">
				<http:body ><![CDATA[#[output application/json
---
payload]]]></http:body>
			</http:response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="872213f2-0257-4b7d-9bdf-dceecf1238f0" name="demo-sftp-implementationFlow" targetValue="#[payload]" />
		<logger level="INFO" doc:name="Logger" doc:id="6fc248f3-978e-445b-b646-ad0b7249eea0" message="Final Payload #[payload]"/>
	</flow>
</mule>
